/* layout */
html, body {
  height: 100%;
  background-image: url(https://images.pexels.com/photos/1253737/pexels-photo-1253737.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  font-family: 'Coming Soon', cursive;
  background-attachment: fixed;
  /* font-family: 'Gloria Hallelujah', cursive; */
}
.header {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  /* margin-top:10px; */
  /* padding: 10px 0; */
  flex: 0 1 auto;
  font-family: 'Gloria Hallelujah', cursive;
}
.contains {
  height: 100%;
  /* width: 90%; */
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-flow: column;
  padding-bottom: 3rem;

}
.main {
  /* height: 90%; */
  /* background-color: rgb(255,103,27); */
  width: 90%;
  border-radius: 10px;
  margin: auto;
  flex: 1 1 auto;
}
.left, .submitted {
  /* margin-left: 5%; */
  margin-top: 5px;
  margin-bottom: 2%;
  /* margin-right: -20px; */
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 30px 10%;
  /* box-shadow: 3px 3px 10px black; */
  /* height: 100%; */
}
.right {
  background-color: rgb(255, 209, 187);
  /* height: 100%; */
  border-radius: 5px;
  /* margin-right: 5%; */
  margin-top: 5px;
  padding: 30px;
  /* margin-bottom: -100px; */
  /* box-shadow: 3px 3px 10px black; */
}
.rightLow {
  background-color: rgb(165, 51, 31);
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 30px;
  border-radius: 5px;
  color: white;
}
/* .intro { */
  /* background-color: rgb(255, 236, 187); */
/* } */
.toppingsRow {
  width: 100%;
  margin: auto;
}
.orderPreview {
  color: black;
  background-color: white;
  padding: 5%;
}
.submitted {
  display: none;
  font-size: xx-large;
}
.receipt {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  /* float: right; */
  /* margin: auto; */
}
.orderDetails {
  width: 75%;
  margin-right: 0;
  margin-left: auto;
}


/* text-style */
.receipt h2 {
  text-align: right;
}
.sizeP {
  color: red;
}
.toppingsP {
  color: green;
}
/* .priceP {
  color: gold;
} */
.floatRight {
  float: right;
  text-align: right;
}
.orderPreview p {
  text-align: left;
  margin-bottom: 0;
  clear: both;
}
.h3 {
  font-size: 1.75rem;
  background-color: rgba(255, 99, 71, 0.782);
  padding-right: 10%;
  font-family: 'Gloria Hallelujah', cursive;
}

h3, h2 {
  background-color: rgba(255, 99, 71, 0.782);
  font-family: 'Gloria Hallelujah', cursive;
}

.price {
  background-color: white;
  padding: 3%;
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
}

.totPrice {
  color: white;
  font-weight: bolder;
}
.displayedTotal {
  text-align: right;
  width: 50%;
  margin-right: 0;
  margin-left: auto;
  background-color: tomato;
}

/* media */
.header img {
  height: 100px;
}

.header h1 {
  background-color: tomato;
  color: white;
  width: 100%;
  margin: auto;
  /* border-radius: 100px; */
  padding: 2%;
  /* box-shadow: 3px 3px 10px black; */
}

#selectSize {
  /* background-color: black; */
  width: 20%;
  min-width: 10px;
  background-color: rgba(112, 112, 112, 0.672);
  color: white;
  padding: 0.50rem;
  margin: .25rem;
  cursor: pointer;
}
input, label {
  cursor: pointer;
}
.button {
  text-align: right;
}
.addPizza {
  float: right;
  margin: 0 10px;
}
#submit {
  float: left;
}
#addOrder {
  border: 0;
}
.delete {
  float: right;
  width: 40%;
  min-width: 70px;
}
.newOrder {
  text-align: right;
}